---
export const skills = [
  { name: "Git", icon: "/icons/git-logo.svg" },
  { name: "JavaScript", icon: "/icons/javascript-logo.svg" },
  { name: "Astro", icon: "/icons/astro-logo.svg" },
  { name: "Tailwind CSS", icon: "/icons/tailwindcss-logo.svg" },
];

const firsRow = skills.slice(0, 2);
const secondRow = skills.slice(2, 4);
---

<!-- Skills section -->
<section id="habilidades" class="bg-blue-100">
  <div class="flex flex-col items-center px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-8 text-center">
      Mis habilidades
    </h1>
    <div class="flex flex-row justify-center items-center gap-6">
      {
        firsRow.map((skill) => (
          <div class="skill_card">
            <img src={skill.icon} alt={skill.name} class="h-24 w-24 mb-2" />
            <p class="text-lg text-center text-black font-semibold">
              {skill.name}
            </p>
          </div>
        ))
      }
    </div>
    <div class="flex flex-row justify-center items-center gap-6 mt-4">
      {
        secondRow.map((skill) => (
          <div class="skill_card">
            <img src={skill.icon} alt={skill.name} class="h-24 w-24 mb-2" />
            <p class="text-lg text-center text-black font-semibold">
              {skill.name}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
